*{
    padding: 0;
    margin: 0;
    box-shadow: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    max-width:99vw;
    height:100vh;  
}

p{
    font-size: 1.1rem;
}

.navbar{
    display:flex;
    flex-direction: row;
    width:100%;

    
    align-items: center;
    background-color: rgba(35, 32, 32, 0.841);
}

.logo{
    height: 70px;
    cursor: pointer;
}

.logoySlogan{
    display:flex;
    flex-direction: row;
    align-items: center;
    color:#fff;
}


.list{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 1%;
    width:100%;
    color:#fff;
    flex-wrap: wrap;
    font-size: 1.1rem;
    
}

.list li{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 12px;
    cursor: pointer;
}

.green{
    color: rgb(4, 218, 4);
    cursor: pointer;
}

.carruselPhoto{
    background-image:url("./Images/ba1.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    width:100%;
    z-index:-1;
}

.backgroundImg{
    position: relative;
    z-index: 10;
    background-color: rgba(14, 14, 14, 0.605);
    height: 100%;
}

.presentacionBackground{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    color:#fff;
    text-align: right;
    z-index: 100;
    height: 100%;
    font-size: 1em;
    padding-right: 5%;
    flex-wrap:wrap;
}

.presentacionBackground>p{
    position: relative;
    max-width:470px;
    color:#fff;

}


.botones{
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-top: 10px;
    max-width:500px;
    margin-left: 50px;
    flex-wrap: wrap;

}

.operador{
   color:#fff;
   z-index: 1;
   border-radius: 7px;
   height: 30px;
   cursor: pointer;
   background-color: transparent;
   width:200px;
   border: 1px solid #fff;
}


.comprarTicket{
    position: relative;
    background-color: green;
    border-radius: 7px;
    border: none;
    color: #fff;
    width:200px;
    height: 30px;
    cursor: pointer;
}

h5, h2{
    font-weight: lighter;
}

.titulo{
    text-align: center;
    height: 40px;
    margin: 20px 20px;
}

.cards{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 20px;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    min-width:340px;
    width:3%;
    height: 500px;
    border: 1px solid #0000003a;
    border-radius: 10px;
   
}

.card img{
    display: flex;
    max-width:340px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.card p{
display: flex;
position: relative;
padding: 20px;
text-align:left;

}

.botonesLenguajes{
    display:flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 10px;
    column-gap: 5px;
}

.javaScript{
    background-color: orange;
    border-radius: 5px;
    border:none;
    height: 18px;
    font-size: 13px;
    padding: 4px;

}

.react{
    background-color:cadetblue;
    border-radius: 5px;
    border:none;
    height: 20px;
    font-size:0.9rem;
    padding: 4px;
    color:#fff;
}

.negocios{
        background-color:gray;
        border-radius: 5px;
        border:none;
        height: 20px;
        font-size: 0.9rem;
        padding: 4px;
        color:#fff;
    }

.startUp{
        background-color:red;
        border-radius: 5px;
        border:none;
        height: 20px;
        font-size: 0.9rem;
        padding: 4px;
        color:#fff;
    }

    .name{
        padding-left: 20px;
    }

    .body{
        font-size: 0.9rem;
    }

    .imagenes{
        display: flex;
        flex-direction: row;
        align-items: center;
        width:100%;
        max-width: 1280px;
        height:auto;
        margin: auto;
        margin-top:30px;
        column-gap: 5px;
        row-gap: 5px;
        flex-wrap: wrap;

    }

    .imagenes img{
        display: flex;
        min-width:340px;
        width:630px;
        height: 300px;
        margin:auto;    
    }

    .imagenes span{
        display: flex;
        position: relative;
        flex-direction: column;
        min-width:340px;
        width:630px;
        background-color: rgba(49, 48, 48, 0.795);
        color:#fff;
        height: 300px;
        margin: auto;
      
    }

    .imagenes span h2{
        font-size: 1.3rem;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        line-height: 1.1;
        margin-bottom: 5px;
    }

    .imagenes span p{
        padding-right: 30px;
        text-align: justify;
        font-size: 0.7rem;
        margin-left: 20px;
        margin-right: 20px;
        line-height: 1.1;
    }

    .imagenes span button{
        background-color: rgba(49, 48, 48, 0.795);
        opacity: 0.5;
        color:#fff;
        width:100px;
        height: 30px;
        border:1px solid #fff;
        margin-top: 15px;
        margin-left: 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .titulo{
        display: flex;
        flex-direction: column;
        row-gap: 7px;
        height: auto;
    }

    .formuYcomentarios{
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        width:100%
    }

    .contenedorFormulario{
        display: flex;
        flex-direction: column;
        width:80%;
        margin: auto;

    }

    .formulario{
        position: relative;
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        row-gap: 15px;
        flex-wrap: wrap;
        width:100%;
        justify-content: center;
    }

    .formulario input{
        height: 25px;
        padding-left: 0.1%;
        width:48%;
        border:1px solid gray;

    }

    .comentario{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width:100%;
        height: 50%;
        padding: 10px;
        font-size: 1.3rem;
    }

    .comentario input{
        position: relative;
        width:100%;
        height:200px;
    }

    .comentario p{
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: lighter;
        opacity: 0.5;
    
    }

    h2{
        font-size: 1rem;
    }

    .comentario > button{
        position: relative;
        background-color:#8DB600;
        max-width: 800px;
        width:80%;
        height: 40px;
        color:#fff;
        border-radius: 7px;
        border: 1px solid #fff;
        cursor: pointer;

    }

    .footer{
        background-color: rgb(5, 62, 87);
        color: #fff;
        margin-top: 20px;
        height: auto;
        min-width: 320px;
    }

    .menuFooter{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        flex-wrap: wrap;
       
    }

    .menuFooter li{
        display: flex;
        margin-top: 40px;
        max-width:100px;
        cursor: pointer;
    }

    input{
        border-radius: 7px;
        border: 1px solid rgb(61, 58, 58);
    }

    a{
        text-decoration: none;
        color:#fff;
    }

    /*Detalles*/

    .contenedorCompraTickets{
        display:flex;
        flex-direction: column;
        height: auto;
        text-align: center;
        width:50%;
        margin:auto;
        row-gap: 10px;
    }


    .descuentos{
        display: flex;
        flex-direction: row;
        justify-content:center;
        column-gap: 10px;
        margin-top: 50px;
    }

    .estudiantes{
        display: flex;
        flex-direction: column;
        position: relative;
        display: flex;
        text-align: center;
        padding: 15px;
        border: 2.5px solid;
        width: 270px;
        height: auto;
    }




    .estudiantes p{
        font-size: 18px;
    }

    .estudiante > p > .chica{
        font-size: 7px;
    }
    
h1,h2,h3,h4,h5,h6{
    font-weight:bold;
}

.botonesDos{
    display: flex;
    flex-direction: row;

}

.deleteOroverview{
    position: relative;
    background-color:#8DB600;
    width:50%;
    height: 40px;
    color:#fff;
    border-radius: 7px;
    border: 1px solid #fff;
    cursor: pointer;
}

main{
    height: auto;
    min-height: 680px;
}

.input-group .btn{
    width:30%;
}

.cantidad{
    width:48.5%;
}

.categoria{
    width:48.5%;
}

.categoria select{
    display: flex;
    position: relative;
    width:100%;
    height: 35px;
}

.opcion{
    display: flex;
    position: relative;
    width:100%;
}

.izq{
    text-align: start;
}

/* CLASES DE FORMULARIO */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background: rgb(240, 173, 184);
    margin: 15% auto;
    padding-bottom: 20px;
    border: 1px solid black;
    width: 80%;
    max-width: 400px;
}

.modal-content p{
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    color: #000;
}

.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}






